#titre {
    text-align: center;
}


div {
    width: 100%;
    box-sizing: border-box;
}

#MenuHaut {
    width: 100%;
    background-color: aqua;
    height: 240px;
    display: grid;
    place-items: center;

}

#foot {}

#MenuCentre {
    width: 100%;
}


.DivLongue {
    width: 100%;
}

.DivLongue:first-child {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 0;
}

#SousMenuA {
    background-color: yellow;
    width: 100%;
    height: 500px;
    display: block;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.titre-contenu {
    text-align: center;
}

.menuColonne {
    display: flex;
    flex-direction: column;
    width: 120px;
}

#SousMenuB {
    background-color: green;
    width: 100%;
    height: 240px;
    display: grid;
    place-items: center;
}

#menu1 {
    background-color: rosybrown;
    width: 100%;
    height: 250px;
    display: grid;
    place-items: center;
}

#menu2 {
    background-color: orange;
    width: 100%;
    height: 250px;
    display: grid;
    place-items: center;
}

#footer {
    width: 100%;

}

#news {
    background-color: red;
    width: 120px;
    height: 130px;
    display: grid;
    place-items: center;
    float: right;
    margin: 0;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
}