#titre{
    text-align: center;
}


div{
    width: 60%;
    float: left;
}

#MenuHaut{
    width: 15%;
    background-color: aqua;
    height: 40px;
    display: grid;
    place-items: center;

}

#foot{

}

#MenuCentre{
    width: 100%;
}


.DivLongue{
    width: 100%;
}

#SousMenuA{
    background-color: yellow;
    width: 13%;
    height: 200px;
    float: left;
    display: grid;
    place-items: center;
}

#SousMenuB{
    background-color: green;
    width: 15%;
    height: 30px;
    float: left;
    display: grid;
    place-items: center;
}
#menu{
    background-color:  rosybrown;
    width: 2%;
    height: 200px;
    display: grid;
    place-items: center;
}
#footer{
    width: 100%;

}


